.github-logo-container,
.hero-text {
  display: flex;
}


.hero-container { 
display: flex;
justify-content: space-around;
gap: 50px ;
}

/* flex-direction: Column */
.hero-text {
  flex-direction: column;
  width: 100%;
}

.hero-h1 { 
  font-size: 8rem;
  align-self: center;
}
/* Justify content - Center */
.hero-text {
  justify-content: center;
}

.project-card,
.project-container { 
    gap: 15px;
}


.max-width-flex-container { 
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.hero--image--container { 
  display: flex;
  justify-content: center;
}
