body {
  margin: 0;
  color: white;
  font-family: "roboto", sans-serif;
  background: #14171a;
}

header {
  background: #14171a;
  align-content: center;
}

nav {
  width: 90%;
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 100px;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.website-logo {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

.logo-span-color {
  color: #ebff6f;
}

.logo-com-black {
  color: black;
}

li {
  list-style: none;
  font-weight: 600;
}

figure {
  padding: 0;
  margin: 0;
}

.website-logo {
  margin-right: auto; /* Pushes the logo to the left */
}

section {
  padding: 20px 0 20px 0;
}

h1 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  padding: 0;
  margin: 5px 0;
}

h2,
h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
}

.bold {
  font-weight: 600;
}

.margin {
  padding: 0;
  margin: 5px 0;
}

/*  First Section Hero Container */

.introduction-hero {
  background: #14171a;
  height: 80vh;
  align-content: center;
}

.border-bottom { 
  border-bottom: 1px solid grey;
}

.hero-container {
  width: 100%;
  gap: 20px;
  height: 60vh;
}

.hero-text {
  flex: 2;
  display: flex;
  align-items: center;
}

.hero-paragraph {
  text-align: center;
  line-height: 25px;
}

.hero-text h1 {
  color: #ebff6f;
  text-align: center;
}

.github-logo-container {
  align-items: center;
}

.personal-image-container {
  flex: 1;
  align-self: center;
}

.personal-image {
  width: 100%;
}

/* Button styling */
.btn {
  padding: 10px 20px 10px 20px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: rgba(102, 102, 109, 0.25) 0px 30px 60px -12px,
    rgba(155, 146, 146, 0.3) 0px 18px 36px -18px;
}

.hero-btn {
  margin-top: 20px;
  background-color: #836fff;
}

.btn-black {
  background-color: #000000;
  width: fit-content;
  font-weight: bold;
}

.btn:hover {
  background-color: #391775;
}

.btn-black:hover {
  background-color: #836fff;
}
/*  Second Section Project Cards */
.project-container {
  background: #14171a;
  align-content: center;
}

.project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.project--text--type-project {
  color: rgb(201, 201, 201);
}

.project--text--title {
  margin: 0;
  color: #ebff6f;
}

.project--text--type-project {
  margin: 0;
}

.project--text {
  padding: 5px;
  color: white;
}

.project--text-fixed-height {
  height: 125px;
  margin: auto;
  align-content: center;
}

.project--text--links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.project--text-link {
  text-decoration: none;
  font-weight: 600;
}

.project--image-holder {
  height: 200px;
  align-items: center;
  background: #836fff;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.project-card--website-image-container {
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 25px;
}

.project-card {
  margin-top: 30px;
  border-bottom: 2px #ebff6f solid;
}

.project--build-with {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-build {
  padding: 10px 10px 10px 10px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: rgba(102, 102, 109, 0.25) 0px 30px 60px -12px,
    rgba(155, 146, 146, 0.3) 0px 18px 36px -18px;
}
.btn-figma {
  background-color: #a259ff;
}

.btn-HTML {
  background-color: #e34f26;
}

.btn-CSS {
  background-color: #1572b6;
}

.btn-JS {
  background-color: #ffeb3b;
  color: black;
}

.btn-bootstrap {
  background-color: #563d7c;
}

/*  Section three / Contact */

#about-me { 
  color: #ebff6f;
  text-transform:inherit;
}
.contact-container {
  background-color: #1b1f23;
  color: #fff;
  padding: 60px 0 60px 0;
  align-content: center;
}

/* Footer */
footer {
  background-color: #14171a;
  margin: 0;
  padding: 0;
  align-self: center;
}

.footer--contact-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14171a;
  color: #ebff6f;
}

/*  Hamburger menu */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ebff6f;
}

.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger.active-menu .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active-menu .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active-menu .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: absolute;
  max-width: 1200px;
  left: -100%;
  top: 80px;
  z-index: 999;
  gap: 0;
  display: flex;
  flex-direction: column;
  transition: top 0.3s; /* Transition top property for smooth animation */
  background: #ebff6f;
}

/* positioning hamburger icon  */
.navbar {
  justify-content: end;
  align-content: center;
  align-items: center;
}

.nav-item {
  width: 100%;
  color: black;
}

.nav-link {
  display: block;
  transition: 0.7s ease; /* Corrected the transition timing */
  padding: 20px 20px;
  color: black;
}

.nav-link:hover {
  background: #836fff;
  color: white;
}

.nav-menu.active-menu {
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Initial state: Hidden */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px); /* Slight slide-in effect */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* When in view: Fully visible */
.fade-in-section.in-view {
  opacity: 1;
  transform: translateY(0);
}