.hero--image--container {
  width: 50%;
  padding: 20px;
}

.hero--image {
  width: 80%;
  padding: 10px;
  border: solid 5px #836FFF ;
  border-left: solid 5px #EBFF6F;
  border-bottom: solid 5px #EBFF6F;
  border-radius: 80%;
}

.github--logo {
  width: 125px;
  height: 59px;
}
.github--mark {
  width: 50px;
  height: 50px;
}

.project--image-holder {
  display: flex;
  justify-content: center;
}


.project-card--website-image{ 
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  
}

.project--image { 
transition: transform 0.3s ease;
}

.project--image:hover { 
  transform: scale(1.1);
}
