@media (max-width: 800px) {
header { 
  background: linear-gradient(to right, #836FFF 85%, #EBFF6F 15%);
}
}



@media (max-width: 800px) {
  .introduction-hero {
    background: linear-gradient(to bottom, #836fff 60%, #ebff6f 40%);
  }
  .hero-container {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
  }

  .hero--image--container {
    justify-content: center;
    width: 90%;
  }

  .hero--image {
    width: 80%;
    border-left: solid 5px #836fff;
  border-bottom: solid 5px #836fff;
  }
}

/* Media query // footer */
@media (max-width: 800px) {
  .footer--contact-information {
    flex-direction: column;
  }
}
